---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-black">
    <Header />
    <main class="">
      <section class="flex flex-col md:flex-row gap-12 w-full justify-center items-centerd">
        <div class="flex flex-col md:w-[60%]">
          <h2 class="font-semibold text-base md:text-lg">Graphisme | Communication</h2>
          <h1 class="font-semibold text-4xl md:text-6xl mb-6">Web Designer</h1>
            <p class="text-sm md:text-base mb-6">
            Je suis en 3ème année du BUT MMI à Limoges, passionné par l'art, le
            dessin, la découverte et la photographie. Ma curiosité me pousse à
            expérimenter de nouveaux horizons, tout en développant mes
            compétences dans le graphisme, la communication et le développement
            web. Actuellement à la recherche d’un stage de 12 à 14 semaines dans
            le domaines de la création numérique.
          </p>
          <a href="/blog" class="flex"
            ><button
              class="w-fit px-6 py-4 text-sm md:text-base font-semibold bg-black rounded-xl text-white hover:bg-primary hover:text-black transform hover:-translate-y-1 active:scale-105 transition duration-300"
              >Voir mes projets</button
            ></a
          >
        </div>
        <div class="flex justify-center">
          <img src="./mascotte.png" alt="mascotte" class="w-64"/>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
