---

---

<footer class="bg-grey flex justify-center items-center py-10">
  <div>
    <h2 class="m-0 font-semibold text-3xl text-center">Contactez-moi !</h2>
		<img class="relative" src="/style.png" alt="">
    	<span id="email" style="cursor: pointer;">mechainadam@gmail.com</span>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailElement = document.getElementById("email");
    if (emailElement) {
      emailElement.addEventListener("click", () => {
        const emailText = emailElement.textContent;
        if (emailText) {
          navigator.clipboard.writeText(emailText).then(() => {
            alert("Adresse e-mail copiée");
          });
        }
      });
    }
  });
</script>
