---

---

<footer class="bg-grey flex justify-center items-center py-10">
  <div>
    <h2 class="m-0 font-semibold text-3xl text-center">Contactez-moi !</h2>
		
		  
		<div class="relative mt-4">
			<p id="email" class="cursor-pointer">mechainadam@gmail.com</p>
			<img class="absolute top-[-7px] left-[-30px]" src="/style.png" alt="">
			<img class="absolute bottom-[-8px] right-[-30px]" src="/style_2.png" alt="">
		</div>
	
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const emailElement = document.getElementById("email");
    if (emailElement) {
      emailElement.addEventListener("click", () => {
        const emailText = emailElement.textContent;
        if (emailText) {
          navigator.clipboard.writeText(emailText).then(() => {
            alert("Adresse e-mail copiée");
          });
        }
      });
    }
  });
</script>
