---
import HeaderLink from "./HeaderLink.astro";
---

<header class="m-0 p-4 bg-white shadow-md">
  <nav class="flex items-center justify-around">
    <h2 class="m-0 text-lg">
      <a href="/" class="">
        <img src="/logo.png" alt="Logo" class="h-14 w-auto transition-transform duration-300 hover:rotate-180" />
      </a>
    </h2>
    <div class="flex">
      <HeaderLink href="/" class="p-4 no-underline">Accueil</HeaderLink>
      <HeaderLink href="/blog" class="p-4 no-underline">Projet</HeaderLink>
      <HeaderLink href="/about" class="p-4 no-underline">Contact</HeaderLink>
    </div>
    <a href="/ADAM_MÉCHAIN_CV.pdf" target="_blank" class="flex">
      <button
        class="px-6 py-4 bg-primary text-black rounded-xl text-base font-semibold"
        >Mon CV</button
      >
    </a>
  </nav>
</header>
