---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="m-0 p-4 bg-white shadow-md">
  <nav class="flex items-center justify-around">
    <h2 class="m-0 text-lg">
      <a href="/" class="">
        <img src="/logo.png" alt="Logo" class="h-12 w-auto" />
      </a>
    </h2>
    <div class="internal-links flex">
      <HeaderLink
        href="/"
        class="p-4 text-black border-b-4 border-transparent no-underline"
        >Accueil</HeaderLink
      >
      <HeaderLink
        href="/blog"
        class="p-4 text-black border-b-4 border-transparent no-underline"
        >Projet</HeaderLink
      >
      <HeaderLink
        href="/about"
        class="p-4 text-black border-b-4 border-transparent no-underline"
        >Contact</HeaderLink
      >
    </div>
	<a href="/ADAM_MÉCHAIN_CV.pdf" target="_blank" class="flex">
	  <button class="px-4 py-2 bg-yellow-500 text-black rounded-lg">Mon CV</button>
	</a>
  </nav>
</header>
